#logout-icon {
  font-size: 3.5rem;
  color: #7e7e7e;
}

#logout-icon:hover {
  cursor: pointer;
  color: #252525;
}

.main-border {
  border: 1px solid #e9e9e9;
  padding: 14px;
}

.border-bottom {
  border-bottom: 1px solid #e9e9e9;
}

.delete-comment {
  color: red;
  font-size: 1.75rem;
}

.delete-comment:hover {
  cursor: pointer;
  color: #670000;
}

.comment-date {
  font-style: italic;
  color: #909090;
  font-weight: bolder;
  font-size: 1.2rem;
}
